
<h1>Request booking</h1>
<select name="month" class="datefield month">
  <option value="">Month</option>
  <option value="01">Jan</option>
  <option value="02">Feb</option>
  <option value="03">Mar</option>
  <option value="04">Apr</option>
  <option value="05">May</option>
  <option value="06">Jun</option>
  <option value="07">Jul</option>
  <option value="08">Aug</option>
  <option value="09">Sep</option>
  <option value="10">Oct</option>
  <option value="11">Nov</option>
  <option value="12">Dec</option>
</select>

<select name="day" class="datefield day">
  <option value="">Day</option>
  <option value="01">1</option>
  <option value="02">2</option>
  <option value="03">3</option>
  <option value="04">4</option>
  <option value="05">5</option>
  <option value="06">6</option>
  <option value="07">7</option>
  <option value="08">8</option>
  <option value="09">9</option>
  <option value="10">10</option>
</select>

<select name="year" class="datefield year">
  <option value="">Year</option>
  <option value="01">2020</option>
  <option value="02">2021</option>
  <option value="03">2022</option>
  <option value="04">2023</option>
</select>

<form class="" action="/spaces/1" method="post">
  <input type="submit" name="Request booking">
</form>
