<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spaced Out</title>
</head>
<body>
	<head>
		<h1>SPACED OUT</h1>
	</head>
		<% if session[:user] == nil %>
		<nav>
			<a href="/users/new">signup</a>
			<a href="/users/log-in">login</a>
		</nav>
		<% else %>
			<nav>
				<a href="">spaces</a>
				<a href="">my requests</a>
				<a href="">add space</a>
				<a href="/signout">sign out</a>
			</nav>
			<h4>hello <%= session[:user].realname %></h4>
		<% end %>
 	<%= yield %>
</body>
</html>