<form action="/spaces/new" method="post">
  <input type="text" name="name" placeholder="title">
  <textarea name="description" rows="4" cols="50" placeholder="Add your description here"></textarea>
  <input type="number" name="price_per_night" min="1" step="any">
  <input type="submit" name="submit">
</form>