<div class="p-3">
  <form class='form-signin text-left' action="/spaces/new" method="post">
    <h4 class='h3 mb-3 font-weight-normal text-left margin-top' style="padding-bottom: 20px;">List a new space</h4>
    <div class="form-group">
      <label for="Title">Title: </label>
      <input class='form-control' type="text" name="name" placeholder="Add your title here">
    </div>
    <div class="form-group">
      <label for="description">Description: </label>
      <textarea class='form-control' name="description" rows="4" cols="50" placeholder="Add your description here"></textarea>
    </div>
    <div class="form-group">
      <label for="price_per_night">Price per night: </label>
      <input class='form-control' type="number" name="price_per_night" min="1" step="any">
    </div>
    <div class="form-group">
      <label for="available_from">Available from: </label>
      <input class='form-control' type="date" name="available_from" min="2020-01-01" max="2025-12-31">
    </div>
    <div class="form-group">
      <label for="available_to">Available until: </label>
      <input class='form-control' type="date" name="available_to" min="2020-01-01" max="2025-12-31">
    </div>
    <div class="form-group text-center">
      <input class='btn btn-light' type="submit" name="submit">
    </div>
  </form>
</div>
