<form action="/spaces/new" method="post">
  <input type="text" name="name" placeholder="title">
  <textarea name="description" rows="4" cols="50" placeholder="Add your description here"></textarea>
  <input type="number" name="price_per_night" min="1" step="any">
  <input type="date" name="available_from" min="2020-01-01" max="2025-12-31">
  <input type="date" name="available_to" min="2020-01-01" max="2025-12-31">
  <input type="submit" name="submit">
</form>