
<h1>Request booking</h1>

<% if @date_invalid %>
    <div class="notice"><%= @date_invalid %></div>
<% end %>

<form class="" action="/spaces/1" method="post">
<input class="date_selector" type="date" name="booking_date" min="2020-01-01" max="2025-12-31">
  <input type="submit" value="Request booking">
</form>
