 <h1>Please log in</h1>
<form action='/users/redirectlogin' method='post'>
  <input type='text' name='password' placeholder='password'>
  <br>
  <input type='text' name='username' placeholder='username'>
  <br>
  <input type='submit' name='submit' value='submit'>
</form>