<div class="col-md-6 offset-md-3 p-3">

<br>
<br>
<h4>Please sign up</h4>
<br>

<form class='form-signin' action='/users/new' method='post' autocomplete="off">
<div class="form-group">
  <input type='text' name='username' placeholder='username'>
  <br>
</div>
<div class="form-group">
  <input type='text' name='name' placeholder='name'>
  <br>
</div>
<div class="form-group">
  <input type='email' name='email' placeholder='email' >
  <br>
</div>
<div class="form-group">
  <input type='password' name='password' placeholder='password'>
  <br>
</div>
<input class='btn btn-light' type='submit' name='submit' value='submit'>
</form>
<h4><%= flash[:notice] %></h4>
</div>
