<h4>Please sign up</h4>
<form action='/users/new' method='post' autocomplete="off">
  <input type='text' name='username' placeholder='username'>
  <br>
  <input type='text' name='name' placeholder='name'>
  <br>
  <input type='text' name='email' placeholder='email' >
  <br>
  <input type='password' name='password' placeholder='password'>
  <br>
  <input type='submit' name='submit' value='submit'>
</form>
<h4><%= flash[:notice] %></h4>