<form action='/users/log-in' method='post'>
  <input type='text' name='email' placeholder='email' >
  <br>
  <input type='text' name='password' placeholder='password'>
  <br>
  <input type='text' name='username' placeholder='username'>
  <br>
  <input type='text' name='name' placeholder='name'>
  <br>
  <input type='submit' name='submit' value='submit'>
</form>